.AboutUs-wrapper {
  .hero-section {
    background-repeat: no-repeat;
    background-position: left center;
    background-blend-mode: multiply;
    background-image: linear-gradient(
        rgba(75, 107, 251, 0.8),
        rgba(75, 107, 251, 0.8)
      ),
      url("https://metajobs.vercel.app/assets/img/findjob-banner-bg.svg");
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.6);
    filter: brightness(0.9) contrast(1.2);
    background-size: cover;
    width: 100%;
    height: 30vh;

    .col {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      height: 30vh;
      p {
        color: white;
        font-size: 4rem;
        font-weight: 700;
      }
    }
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1rem;
      color: #555;
    }
  }

  .mission-vision-section {
    background-color: #f6f5f5;
    padding: 50px 0;

    .row {
      h2 {
        font-size: 1.8rem;
        color: #333;
      }

      p {
        font-size: 1rem;
        color: #585757;
      }
    }
  }

  .team-section {
    background-color: #ffffff;
    padding: 50px 0;

    .team-member {
      text-align: center;

      img {
        margin-bottom: 15px;
        height: 50%;
        width: 50%;
      }

      h4 {
        font-size: 1.5rem;
        margin-top: 10px;
      }

      p {
        font-size: 1rem;
        color: #777;
      }
    }
  }

  .contact-section {
    background-color: #007bff;
    color: white;
    padding: 50px 0;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      color: #e9ecef;
    }

    button {
      font-size: 1.2rem;
      padding: 10px 30px;
      border-radius: 5px;
      background-color: #0056b3;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #004085;
      }
    }
  }
}
