.bookmarks-container {
  .bookmarks-footer {
    width: 100%;
    .recent-bookmarks {
      h5 {
        margin: 0px;
      }
      ul {
        li {
          padding: 15px;
          .list-item {
            h6,
            p {
              margin: 0px;
            }
            h6 {
              color: #1a1919;
            }
            p {
              font-size: 14px;
              color: #9d9d9d;
            }
          }
          .ms-auto {
            p {
              margin: 0px;
              margin-right: 10px;
            }
            button {
              border: none;
              outline: none;
              background-color: unset;
              font-size: 28px;
              color: #656161;
            }
          }
          &:hover {
            cursor: pointer;
            background-color: rgba(13, 190, 249, 0.055);
            h6 {
              color: rgb(59, 122, 239);
            }
          }
        }
      }
    }
  }
}
