.jobDetails-Wrapper {
  // hero section
  .container-fulid {
    background-repeat: no-repeat;
    background-position: left center;
    background-blend-mode: multiply;
    background-image: linear-gradient(
        rgba(75, 107, 251, 0.8),
        rgba(75, 107, 251, 0.8)
      ),
      url("https://metajobs.vercel.app/assets/img/findjob-banner-bg.svg");
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.6);
    filter: brightness(0.9) contrast(1.2);

    background-size: cover;
    width: 100%;

    .col {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      height: 30vh;
      p {
        color: white;
        font-size: 4rem;
        font-weight: 700;
      }
    }
  }
  // job details sections
  .job-details {
    .container {
      .row1 {
        .leftCol {
          .top-row {
            img {
              // width: 60%;
              // height: 60%;
            }
          }
          .title {
            font-size: 26px;
            font-weight: 600;
            margin: 0px;
          }
          h6 {
            .span-text {
              margin-left: 10px;
            }
            .fa-fb {
              width: 20px;
            }
            span {
              border-radius: 100%;
              padding: 6px;
              border: 1px solid gray;
            }
          }
          .bottom-row {
            .text-justify {
              text-align: justify;
            }
          }
        }
        .rightCol {
          .title {
            font-size: 26px;
            font-weight: 600;
            margin: 0px;
          }
          ul{
            li{
                margin-bottom: 15px;
                h5{
                    font-size: 16px;
                    padding-left: 15px;
                    margin: 0px;
                }
                .text-muted{
                    font-size: 14px;
                    padding-left: 15px;
                    margin: 0px;

                }
            }
          }
        }
      }
    }
  }
}
.icon-fav {
  top: -4px;
  width: 36px;
  background: transparent;
  border: none;
  font-size: 26px;
  right: 10px;
  // left: 100%;
}


@media (max-width:992px) {
  .rightCol{
    box-shadow: 0px 0px 10px rgb(0, 0, 0,0.3);

  }
  .rr{
    margin-top: 30px !important;
    margin-left: 25% !important;
  }
  
}

@media (min-width:992px) {
  .rightCol{
    .bg-white{
      box-shadow: 0px 0px 10px rgb(0, 0, 0,0.3);
    }
  }
  
}