
.sign-in-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.sign-in-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  // height: 500px;
  position: relative;
  text-align: center;
  z-index: 10000;
}

form input:focus {
  border-color: #007bff !important;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  border: none;
  font-size: 15px;
  color: white !important;
  cursor: pointer;
  z-index: 10001;
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;

  input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    z-index: 10002;
  }
  label {
    text-align: left;
  }

  .remember-me {
    display: flex;
    align-items: center;

    input,
    label {
      margin-right: 5px;
      width: auto;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .forgot-password {
    text-align: right;
    margin: 10px 0;
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .login-btn {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
      background-color: #0056b3;
    }
  }
}

.sign-up-prompt {
  margin-top: 10px;
  a {
    text-decoration: none;
  }
  button {
    background-color: unset;
    border: none;
    outline: none;
    color: #007bff;
  }
}

