.card{
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.5s;
    
}

.card:hover {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    transform: scale(1.03); 
  }