.header-section {
  .container-fluid {
    .row {
      .col {
        padding: 0px;
        .navbar {
          background-color: transparent;
          position: sticky;
          top: 0 !important;
          z-index: 1000;
        }
      }
    }
  }

  .container-fluid {
    .navbar-brand {
      font-size: 28px;
      font-weight: 600;
    }

    .navbar-nav {
      font-size: 17px;
      font-weight: 500;
      li {
        .nav-link {
          // background-color: red;
          color: black;
          border-radius: 100px;
          padding: 8px 15px; // Adjust padding for a balanced look
          transition: all 0.3s ease; // Smooth transition for hover effects
        }
        .home {
          color: blue;
        }
        .candidate {
          color: #ff464c;
        }
        .find-job {
          color: rgb(255, 166, 0);
        }
      }

      .nav-item :hover {
        border-radius: 100px;
        // padding-left: 20px;
        background-color: rgba(212, 212, 206, 0.302);
        color: blue;
        padding-left: 20px; // Increase padding slightly on hover for a dynamic effect
        padding-right: 20px;
      }
    }
  }
}

// Navbar.scss

.offcanvas.show {
  animation: slideIn 0.3s ease-out ;
}

.offcanvas {
  animation: slideOut 0.3s ease-in forwards;
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
  }
  to {
      transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}

// Add background style
.offcanvas {
  background: rgb(235,159,192);
  background: radial-gradient(circle, rgb(231, 169, 196) 0%, rgba(128,151,179,1) 100%);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}


.dropdown{
  background-color: aqua;
  border: none;
  outline: none;
  .profileContainer{
    // background-color: aqua;
    
    img{
      height: 40px;
      border-radius: 100%;
      // width: 20px !important;
    }
  }
}





